(function() {
  const HTML = `<div class="message-upper">
                  <div class="message-user"><%= "#{@message.user.nickname}さん" %></div>
                  <div class="message-date"><%= l @message.created_at %></div>
                </div>
                <div class="message-lower">
                  <div class="message-text"><%= @message.message %></div>
                  <div class="message-images">
                  <% @message.message_images.each do |message_image| %>
                    <div class="message-image"><%= image_tag message_image.variant(resize: "200x200") %></div>
                  <% end %>
                  </div>  
                </div>`;

  const messageInput = document.getElementById("message-input");
  messageInput.insertAdjacentHTML('afterbegin', HTML);
  document.getElementById("message").value = "";
  document.getElementById("message-images").value = "";
})();