(function() {
  const HTML = `<div class="comment-upper">
                  <div class="comment-user"><%= "#{@comment.user.nickname}さん" %></div>
                  <div class="comment-date"><%= l @comment.created_at %></div>
                </div>
                <div class="comment-lower">
                  <div class="comment-text"><%= @comment.comment %></div>
                  <div class="comment-images">
                  <% @comment.comment_images.each do |comment_image| %>
                    <div class="comment-image"><%= image_tag comment_image.variant(resize: "200x200") %></div>
                  <% end %>
                  </div>  
                </div>`;

  const commentInput = document.getElementById("comment-input");
  commentInput.insertAdjacentHTML('afterbegin', HTML);
  document.getElementById("comment").value = "";
  document.getElementById("comment-images").value = "";
})();