.wrapper {
  height: calc(100vh - 100px);
  width: 100％;
  display: flex;
  background-image:linear-gradient(-45deg, #dfdfdf 25%, #f9f8f7 25%, #f9f8f7 50%, #dfdfdf  50%, #dfdfdf 75%, #f9f8f7 75%, #f9f8f7);
}

.map-wrapper {
  height: calc(100vh - 100px);
  width: 60%;
}

.form-map {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.search-title {
  margin-right: 10px;
  font-style: italic;
  border-bottom: 2px solid black;
}

.map-text {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin-top: 20px;
}

.fa-search-location {
  font-size: 25px;
  margin-right: 10px;
}

.map {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  height: 90%;
  width: 90%;
  border: 1px solid lightgray;
  border-radius: 5px;
  
}

.contents {
  width: 40%;
  height: calc(100vh - 100px);
}

.content {
  height: 50%;
}

.content-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-style: italic;
  font-weight: bold;
}

.upper {
  padding-top: 30px;
}

.content-message-title {
  border-bottom: 2px solid black;
}

.content-text {
  padding: 10px 0;
}

.fa-glass-cheers {
  font-size: 100px;
  color: lightcoral;
}

.fa-users {
  font-size: 100px;
  color: lightsalmon;
}

.content-link {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-btn {
  border: 1px solid lightgray;
  padding: 20px;
  background-color: lightskyblue;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-radius: 20px;
  width: 75%;
  text-align: center;
}
