<%= render 'shared/header'%>
<div class="wrapper">
  <div class="map-wrapper">
    <div class="form-map">
    <h2>住所を検索して見よう！</h1>
    </div>
    <div class="map">
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>" async defer></script>
    </div>
  </div>
  <div class="contents">
    <div class="store-content">
      <div class="store-message">
        <h2>お気に入りの飲食店を登録しよう！</h2>
      </div>
      <div class="store-link">
        <%= link_to '飲食店を追加！', '#', class: 'store-btn' %>
      </div>
    </div>
    <div class="community-content">
      <div class="community-message">
        <h2>近くの人と食を通して交流しよう！</h2>
      </div>
      <div class="community-link">  
        <%= link_to 'コミュニティ一覧ページへ', '#', class: 'community-btn' %>
      </div>  
    </div>  
  </div>
</div>