(function(){
  let pos = new google.maps.LatLng(
   <%= @latlng[0] %>, //latitude
   <%= @latlng[1] %>  //longitude
  );

  mapInstance.setCenter(pos)
  let marker = new google.maps.Marker({
    map: mapInstance,
    position: pos
  });
  let infoWindow = new google.maps.InfoWindow({
  content: `<div class="mapinfo">
  <p>検索結果<p>
  <p><%= @address %></p>
  </div>`
  });
    infoWindow.open(mapInstance, marker);

  document.getElementById("address").value = "";
})()