.flash {
  text-align: center;
  font-size: 1.5vw;
  color: white;
  font-weight: bold;
  position: fixed;
  z-index: 2;
  width: 100vw;
}

.notice {
  background-color: lightskyblue;
}

.alert {
  background-color: lightcoral;
}