.header {
  height: 100px;
  width: 100vw;
  display: flex;
  background-color: lightskyblue;
}

.title {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-name {
  color: blanchedalmond;
  font-size: 36px;
  font-weight: bolder;
}

.links {
 width: calc(100vw - 30%);
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.link {
  font-size: 20px;
  color: black;
}