.header {
  height: 100px;
  width: 100%;
  display: flex;
  background-color: lightskyblue;
}

.header-title {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title-name {
  font-size: 36px;
  font-weight: bolder;
  font-style: italic;
  letter-spacing: .1em;
  color: rgba(0, 0, 0, 0.75);
}

.header-links {
 width: 75%;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.header-link {
  font-size: 18px;
  font-weight: bolder;
  font-style: italic;
  letter-spacing: .1em;
  color: #fff;
}