.header {
  height: 100px;
  width: 100vw;
  padding: 20px;
  display: flex;
  background-color: lightgrey;
}

.title {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-name {
  color: black;
  font-size: 36px;
  font-weight: bolder;
}

.links {
 width: calc(100vw - 500px);
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.link {
  color: black;
}