.second-header {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  margin: 0 auto;
}

.second-header-title {
  color: black;
  font-size: 36px;
  font-weight: bolder;
}