.message-wrapper {
  display: flex;
}

.message-side-bar {
  height: 100vh;
  width: 300px;
  background-color: lightskyblue;
}

.message-side-bar-header {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.message-link {
  color: black;
  font-weight: bold;
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 10px;
  width: 175px;
  text-align: center;
}

.message-side-bar-main {
  height: calc(100vh - 100px);
  padding: 20px;
  overflow: scroll
}

.message-community {
  padding-top : 20px;
}

.message-community a {
  color: black;
}


.message-main {
  width: calc(100vw - 300px);
}

.message-header {
  height: 100px;
  background-color:#f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-favorite {
  display: flex;
  align-items: center;
}

.favorite-link {
  margin: 0 10px;
}

.favorite-btn {
  font-size: 50px;
  color: #808080;
}

.unfavorite-btn {
  font-size: 50px;
  color: lightskyblue;
}

.message-field {
  height: calc(100vh - 100px - 100px);
  padding: 20px;
  overflow: scroll;
}

.message-upper {
  display: flex;
  margin-bottom: 10px;
  font-style: italic;
}

.message-user {
  margin-right: 10px;
  font-weight: bold;
}

.message-lower {
  margin-bottom: 20px;
}

.message-text {
  margin: 20px 0 40px;
}

.message-images {
  display: flex;
  flex-wrap: wrap;
}

.message-image-box {
  margin-right: 30px;
}

.message-image {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.message-form-field {
  height: 100px;
  background-color: lightgrey;
  padding: 30px;
}

.message-form {
  display: flex;
  align-items: center;
}

.message-form {
  width: 100%;
}

.message-form-input {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border-radius: 20px;
  background-color: white;
}

.message-form-label {
  font-size: 12px;
  background-color: lightskyblue;
  color: white;
  font-weight: bold;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
  border-radius: 10px;
}

.message-form-submit-btn {
  background-color: lightskyblue;
  color: white;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.sign_in_message {
  display: flex;
  justify-content: center;
  align-items: center;
}