.search-community-title {
  text-align: center;
  margin-top: 50px;
}

.create-title {
  text-align: center;
  margin-top: 50px;
}

.community-form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.sign-in-title {
  text-align: center;
  margin-top: 20px;
}

.sign-in-links {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.sign-in-link {
  padding: 10px 40px;
  background-color: lightskyblue;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.community-lists {
  margin: 0 auto;
  margin-top: 50px;
}

.community-lists-title {
  text-align: center;
}
