/* フォーム要素に借りで適用(ユーザー新規登録・編集・ログイン、新規店舗追加・編集) */
.form-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  overflow: scroll;
}

.form-wrap {
  width: 50%;
  margin: 0 auto;
  background-color: white;
}

.form-title {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-label {
  display: flex;
  text-align: left;
  margin-bottom: 10px;
}

.form-input-area {
  border: 2px solid lightgrey;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  width: 250px;
}

.form-text-area {
  border: 2px solid lightgrey;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  width: 500px;
  height: 150px;
}

.form-submit {
  margin:30px 0 60px;
}

.form-submit-btn {
  width: 250px;
  background-color:lightskyblue;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.form-select-btn {
  width: 250px;
  border: 2px solid lightgrey;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.form-image-btn {
  margin-left: 100px;
  border-radius: 5px;
}

.form-warning {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.form-any {
  background: #e9af29;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.image-list {
  margin-top: 50px;
  width: 720px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-element {
  width: 50%;
  padding: 0 0 30px 50px;
}

.preview-image {
  height: 250px;
  width: 250px;
}

