/* 全フォーム要素に借りで適用 */
.form-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: lightgrey;
}

.form-wrap {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  background-color: mintcream;
}

.form-title {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: palegreen;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.form-label {
  margin-bottom: 5px;
}

.form-input-area {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  width: 250px;
}

.form-submit {
  margin-top: 30px;
}

.form-submit-btn {
  width: 250px;
  background-color:lightblue;
  border-radius: 5px;
  padding: 5px;
}

.form-select-btn {
  width: 250px;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
}

.form {
  height: calc(100% - 200px);
}