.user-show {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.user-wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  margin-top: 50px;
  padding: 30px;
}

.user-infobox {
  width: 100%;
}

.table-title {
  margin-bottom: 20px;
}

.user-info {
  display: flex;
}

.table {
  width: 60%;
  border-collapse: collapse;
}

.table-column1 {
  text-align: left;
  font-size: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}

.table-column2 {
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}

.user-links {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-link {
  text-align: center;
  width: 200px;
  padding: 20px;
  background-color: lightskyblue;
  margin-bottom: 30px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.user-map-wrapper {
  width: 100%;
  margin-top: 30px;
}

.user-map-title {
  margin-bottom: 20px;
}

#user-map {
  height: 500px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.user-store-wrapper{
  margin: 30px 0 ;
  width: 100%;
}

.user-store-title {
  margin-bottom: 20px;
}

.store-table {
  width: 100%;
  border-collapse: collapse;
}

.table-column3 {
  text-align: left;
  font-size: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 20%;
  padding: 8px;
}

.table-column4 {
  text-align: left;
  font-size: bold;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 20%;
  padding: 8px;
}

.table-column5 {
  text-align: left;
  font-size: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 40%;
  padding: 8px;
}

.table-column6 {
  text-align: left;
  font-size: bold;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 40%;
  padding: 8px;
}

.store-table-link {
  float: left;
  margin-right: 55px;
  background-color: lightskyblue;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
}

/* ページネーションで適用 */
.pagination {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.pagination a {
  color: gray;
}

.page {
  padding: 0 10px;
}